.marquee {
	width: 80vw;
	height: 10vh;
	background-color: #111111;
	color: tomato;
	/*overflow: hidden;*/
}

.marquee-content {
	list-style: none;
	height: 100%;
	display: flex;
	animation: scrolling 25s linear infinite;
}

@keyframes scrolling {
	0% {
		transform: translateX(100vw);
	}

	100% {
		transform: translateX(-30vw);
	}
}

.marquee-content li {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid teal;
	width: 20vw;
	flex-shrink: 0;
	font-size: 5rem;
	white-space: nowrap;
}
